@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap');
@import url("components/container.css");
@import url("components/developers.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");

body{
  font-family:'Lora',serif;
}

h1,h2,h3{
  font-family: 'Nunito';
  font-weight:bold;
}

.sidebar {
  background-color:rgb(254,233,214);
  font-family:'Lora',serif;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 417px;
  width:130px;
  color:black;
}


@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .sidebar{
    font-size:13px;
  }
}
@media(max-width: 540px){
  .sidebar{
    font-size:10px;
  }
}
.sidebar ul {
  list-style: none;
  padding-left: 20px;
  padding-bottom: 40px;
}
.sidebar a{
  color:#6b5a4b;
  text-decoration: none;
}
.sidebar a:hover{
  color:black;
}

.page-content{
  margin-left:125px;
}


