.banner{
  background-image: url(../../images/background.jpg);
  color:white;
  linear-gradient(-225deg,rgba(0,0,0.8) 0%, rgba(0,0,0.2) 30%);
  padding:150px 0px;
  background-size:cover;
  background-position:center;
  display:flex;
  flex-direction:column;
  align-items: flex-end;
}

.banner h1{
  font-size:50px;
}

.banner h2{
  font-size:30px;
  font-weight:lighter;
  opacity:0.9;
  text-align: right;
}

.banner p{
  display: block;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start:410px;
}
